.cardtodos {
    width: 25rem !important;
}

.list-group-item:hover {
    background-color: #f8f9fa;    
}

.list-group-item:hover :nth-child(1) {
    visibility: visible !important; 
}

.container{

    width: 600px;
    height: 800px;
}
hr.solid {
  border-top: 3px solid #bbb;
  margin: auto;
}